<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Registrarse</h1>
            <p class="text-muted">Crea tu cuenta</p>
            <form [formGroup]="registerForm" (ngSubmit)="doRegister()" novalidate>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid': registerForm.controls['name'].errors && !registerForm.controls['name'].pristine,
                    'is-valid'  : registerForm.controls['name'].valid
                  }"
                >
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': registerForm.controls['email'].errors && !registerForm.controls['email'].pristine,
                    'is-valid'  : registerForm.controls['email'].valid
                  }"
                >
              </div>

              <div formGroupName="passwords">
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': registerForm.controls['passwords'].controls['password'].errors && !registerForm.controls['passwords'].controls['password'].pristine,
                    'is-valid'  : registerForm.controls['passwords'].controls['password'].valid
                  }"
                >
              </div>

              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Repetir Contraseña"
                  formControlName="repeat"
                  [ngClass]="{
                    'is-invalid': registerForm.controls['passwords'].errors && !registerForm.controls['passwords'].controls['repeat'].pristine,
                    'is-valid'  : registerForm.controls['passwords'].valid
                  }"
                >
              </div>
              </div>

              <div *ngIf="formError" class="alert alert-danger">
                <p *ngIf="errorMessage">
                  {{errorMessage}}
                </p>
              </div>

              <button type="submit" class="btn btn-block btn-success" [disabled]="!registerForm.valid">Crear Cuenta</button>
            </form>
          </div>
          <!--
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
