<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Documentos</strong>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/documents/list']"><i class="icon-notebook"></i> Mis Documentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/documents/create']"><i class="icon-note"></i> Nuevo Documento</a>
            </li>
          </ul>
          <div class="p-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
